<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.monkey1024.servlet.LoginServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/g</url-pattern>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>regist</servlet-name>
		<servlet-class>com.monkey1024.servlet.RegisterServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>regist</servlet-name>
		<url-pattern>/regist</url-pattern>
	</servlet-mapping>


<servlet>
		<servlet-name>error</servlet-name>
		<servlet-class>com.monkey1024.servlet.Error</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>error</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>






</web-app>